    @font-face {
        font-family: customfont;
        src: url(f../font/laeltttfont.tff);
    }
    @font-face {
        font-family: customfont2;
        src: url(../font/comicsans.ttf);
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

 body {
        font-family: customfont2;
        zoom: 0.7;
        text-align: center; 
        color: rgb(0, 0, 0);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-color: gray;
        
    }
.container {
        width: 100%;
        max-width: 1000px;
        margin: 100px auto 20px;
        padding: 40px 20px 70px;
        border-radius: 30px;
        background: linear-gradient(125deg, white, rgb(225, 225, 225));
        box-shadow: 2px 7px 2px rgba(0, 0, 0, 0.4);
        
    }
.hr1 {

 	border: none;
 	 height: 4px;
  	background-color: rgb(0, 0, 0);
  	width: 70%;
  	margin: 20px auto;
	}